<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <!-- start: #wrapper -->
    <div class="wrapper">
      
      <%- include('./includes/header') %>

      <main id="home" class="main">
        <div class="grid-container module-wrapper enable-masonry aos-init aos-animate" data-aos="fade-up">
        <div class="row">
          <div class="content-wrapper grid-posts content">
                
            <!-- start: .articles -->
            
              <% posts.forEach(function(post, postIndex) { %>
              <% if ( post.isTop && postIndex == 0) { %>
                <div id="single" class="fullcover" style="">
                   <div class="featured-image cover" style="background-image: url('<% if (post.feature) { %><%= post.feature %><% } else { %><%= site.customConfig.featureImage %><%} %>');">
                    <div class="meta top"> 
                      <time class="meta-info" style="float:left;" datetime="<%= post.dateFormat %>"><i class="fa fa-calendar"></i><span class="lately"><%= site.utils.moment(post.date).locale('zh-cn').fromNow() %></span></time>
                      <% if (site.customConfig.visitors){ %>
                      <a href="<%= post.link %>#comments" class="comments meta-info" title="">
                        <i class="fa fa-comment remixicon"></i><span class="comment-count valine-comment-count" data-xid="/<%= post.fileName %>/"> </span>
                      </a>
                      <span id="/<%= post.fileName %>/" class="leancloud_visitors views-counter meta-info" title=""><i class="fa fa-leancloud remixicon"></i><span class="leancloud-visitors-count"></span></span>
                      <% } %>
                    </div>
                    <div class="info">
                      <div class="tags ">
                        <a href="<%= post.link %>" class="ctag ctag-1">置顶</a>
                      </div>
                      <h1 class="title main-title ularge white bold gradient-effect"><a href="<%= post.link %>" style="color:#fff;"><%= post.title %></a></h1>
                    </div>
                  </div>
                </div>
                <div class="articles columns-3">
              <% }else{ %>
              <% if ( postIndex == 0) { %><div class="articles columns-3"><% } %>
                <% if ( !post.abstract ) { %>
                <article class="bgstyle grid-33 tablet-grid-50 mobile-grid-100 np-mobile post type-post status-publish format-standard has-post-thumbnail hentry" style="">
                  <div class="article-wrapper  cover" style="background-image: url('<% if (post.feature) { %><%= post.feature %><% } else { %><%= site.customConfig.featureImage %><%} %>');">
                  <header>
                    <% if (post.tags[0]) { %>
                      <div class="tags absolute">
                        <a href="<%= post.tags[0].link %>" class="ctag ctag-<%= postIndex%> ctag-<%= post.tags[0].slug %>"><%= post.tags[0].name %></a>
                      </div>
                    <% }; %>
                    <div class="meta">
                      <time datetime="<%= post.dateFormat %>"><i class="fa fa-calendar"></i><span class="lately"><%= site.utils.moment(post.date).locale('zh-cn').fromNow() %></span></time>
                      <div class="clear"></div>
                    </div>
                    <h1 class="title main-title gradient-effect"><a href="<%= post.link %>"><%= post.title %></a></h1>
                  </header>
                  <footer class="author-meta">
                    <a href="" class="author" title="">
                      <span class="author-image cover" style="background-image: url('<%= themeConfig.domain %>/images/avatar.png');"></span>
                      <span class="author-name"><%= themeConfig.siteName %></span>
                    </a>
                    <% if (site.customConfig.visitors){ %>
                    <a href="<%= post.link %>#comments" class="comments meta-info alignright" title="">
                      <span class="comment-count valine-comment-count" data-xid="/<%= post.fileName %>/"> </span><i class="fa fa-comment"></i>
                    </a>
                    <div id="/<%= post.fileName %>/" class="leancloud_visitors views-counter meta-info alignright" title=""><span class="leancloud-visitors-count" style="vertical-align: middle;"></span><i class="fa fa-leancloud"></i></div>
                    <% } %>
                    <div class="clear"></div>
                  </footer>
                  <div class="overlay"></div>       
                </div>
              </article>
                <% }else{ %>
              <article class="default grid-33 tablet-grid-50 mobile-grid-100 np-mobile post type-post status-publish format-standard has-post-thumbnail hentry">
                <div class="article-wrapper">
                  <header>
                    <div class="post-format-image post-format-wrapper">
                      <div class="featured-image">
                        <a href="<%= post.link %>" class="thumb hover-effect">
                          <span class="fullimage cover" role="img" aria-label="" style="background-image: url('<% if (post.feature) { %><%= post.feature %><% } else { %><%= site.customConfig.featureImage %><%} %>');"></span>
                        </a>
                        <% if (post.tags[0]) { %>
                        <div class="tags absolute">
                          <a href="<%= post.tags[0].link %>" class="ctag ctag-<%= postIndex%> ctag-<%= post.tags[0].slug %>"><%= post.tags[0].name %></a>
                        </div>
                        <% }; %>
                      </div>
                    </div>                    
                    <div class="meta">
                      <time datetime="<%= post.dateFormat %>"><i class="fa fa-calendar"></i><span class="lately"><%= site.utils.moment(post.date).locale('zh-cn').fromNow() %></span></time>
                      <div class="clear"></div>
                    </div>

                    <h1 class="title main-title gradient-effect"><a href="<%= post.link %>"><%= post.title %></a></h1>
                  </header>

                  <div class="post-excerpt">
                      <%- post.abstract %>
                    <div class="clear"></div>
                  </div>

                  <footer class="author-meta">
                    <a href="" class="author" title="">
                      <span class="author-image cover" style="background-image: url('<%= themeConfig.domain %>/images/avatar.png');"></span>
                      <span class="author-name"><%= themeConfig.siteName %></span>
                    </a>
                    <% if (site.customConfig.visitors){ %>
                    <a href="<%= post.link %>#comments" class="comments meta-info alignright" title="">
                      <span class="comment-count valine-comment-count" data-xid="/<%= post.fileName %>/"> </span><i class="fa fa-comment"></i>
                    </a>
                    <div id="/<%= post.fileName %>/" class="leancloud_visitors views-counter meta-info alignright" title=""><span class="leancloud-visitors-count" style="vertical-align: middle;"></span><i class="fa fa-leancloud"></i></div>
                    <% } %>
                    <div class="clear"></div>
                  </footer>
                  <div class="border"></div>       
                </div>
              </article>
                <% } %>
              <% } %>
              <% }); %>
              <div class="clear"></div>
              <div class="separator last hide-on-tablet hide-on-mobile"></div>
            </div>
            <!-- end: .articles -->
            
            <%- include('./includes/pagination') %>

            
          </div>
          </div>
        </div>
      </main>

    <%- include('./includes/footer') %>
    </div>
    <!-- end: #wrapper -->
  </body>
</html>
