<html>
  <head>
    <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
  </head>
  <body>
    <!-- start: #wrapper -->
    <div class="wrapper">
      
      <%- include('./includes/header') %>

      <main id="home" class="main fullcover no-sidebar content">
        <div class="grid-container module-wrapper enable-masonry aos-init aos-animate" data-aos="fade-up">
        <div class="epcl-page-wrapper">
          <div class="left-content grid-70 np-mobile widget_epcl_related_articles">
                
            <!-- start: .articles -->
            <%- include('./includes/post-list') %>
            <!-- end: .articles -->
            
            <%- include('./includes/pagination') %>
            
          </div>
          </div>
        </div>
      </main>

    <%- include('./includes/footer') %>
    </div>
    <!-- end: #wrapper -->
  </body>
</html>
