<html>
  <head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <!-- start: #wrapper -->
    <div class="wrapper">
      
      <%- include('./includes/header') %>

      <main id="tags" class="main fullcover no-sidebar content">
        <div class="grid-container module-wrapper enable-masonry aos-init aos-animate" data-aos="fade-up">
        <div class="epcl-page-wrapper">
          <div class="left-content grid-70 np-mobile widget_epcl_related_articles">

          <div class="widget_tag_cloud tagcloud">
            <% site.tags.forEach(function(tag, tagIndex) { %>
              <a href="<%= tag.link %>" class="ctag ctag-<%= tagIndex %> ctag-<%= tag.slug %>" aria-label=""><%= tag.name %></a>
            <% }); %>
          </div>
        </div>

        </div>
          </div>
        </div>
      </main>

    <%- include('./includes/footer') %>
    </div>
    <!-- end: #wrapper -->
  </body>
</html>