    <footer id="footer" class="grid-container">
        <div class="widgets row gradient-effect">
            <div class="default-sidebar border-effect">
              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="tag_cloud-2" class="widget widget_epcl_posts_thumbs underline-effect">
                  <h4 class="widget-title title white bordered">最新文章</h4>
                  <% site.posts.forEach(function(post, index) { %>
                  <% if (index < 3) { %>
                  <article class="item post-<%= index %> post type-post status-publish format-standard has-post-thumbnail hentry">
                    <a href="<%= post.link %>" class="thumb hover-effect">
                      <span class="fullimage cover" style="display:block;border-radius:50%;background-image: url('<% if (post.feature) { %><%= post.feature %><% } else { %><%= site.customConfig.featureImage %><%} %>');"></span>
                    </a>
                    <div class="info gradient-effect">
                      <time datetime="<%= post.dateFormat %>"><%= post.dateFormat %></time>
                      <h4 class="title usmall">
                        <a href="<%= post.link %>"><%= post.title %></a>
                      </h4>
                    </div>
                    <div class="clear"></div>
                  </article>
                  <% } %>
                  <% }); %>
                  <div class="clear"></div>
                </section>
              </div>

              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="tag_cloud-2" class="widget widget_tag_cloud underline-effect">
                  <h4 class="widget-title title white bordered">标签云</h4>
                  <div class="tagcloud">
                    <% site.tags.forEach(function(tag, tagIndex) { %>
                      <a href="<%= tag.link %>" class="ctag ctag-<%= tagIndex %> ctag-<%= tag.slug %>" aria-label=""><%= tag.name %></a>
                    <% }); %>
                  </div>
                  <div class="clear"></div>
                </section>
              </div>

              <div class="grid-33 tablet-grid-50 mobile-grid-100">
                <section id="epcl_about-2" class="widget widget_epcl_about underline-effect">
                  <h4 class="widget-title title white bordered">关于我</h4>
                  <div class="avatar">
                    <a href="" class="translate-effect thumb"><span class="fullimage cover" style="background-image: url(<%= themeConfig.domain %>/images/avatar.png);"></span></a>
                  </div>
                  <div class="info">
                    <h4 class="title small author-name gradient-effect no-margin"><a href=""><%= themeConfig.siteName %></a></h4>
                    <p class="founder"><%= themeConfig.siteDescription %></p>
                    <div class="social">
                      <% ['github','twitter','instagram' ,'telegram','feed'].forEach((item) => { %>
                        <% if (site.customConfig[item]) { %>  
                            <a href="<%= site.customConfig[item] %>" class="translate-effect" target="_blank"><i class="fa fa-<%= item %>"></i></a>
                        <% } %>
                      <% }) %>
                    </div> 
                  </div>
                  <div class="clear"></div>
                  </section>
              </div>

            </div>
            <div class="clear"></div>
        </div>

        <div class="logo">
          <a href="<%= themeConfig.domain %>"><img src="<%= site.customConfig.footerLogo %>" alt=""></a>
        </div>
        <p class="published border-effect">
          ©2019 共 <%= site.posts.length %> 篇文章
          <br/>
          Theme <a href="https://gridea.dev/" target="_blank">「<%= themeConfig.themeName %>」</a> Powered by <a href="https://gridea.dev/" target="_blank">「Gridea」</a>
        </p>
        
        <a href="javascript:void(0)" id="back-to-top" class="epcl-button dark" style="display:none">
          <i class="fa fa-arrow"></i>
        </a>
    </footer>
    
    <div class="clear"></div>

        <% if (site.customConfig.valineID && site.customConfig.valineKey) { %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/valine/1.3.10/Valine.Pure.min.js"></script>
<script>
    new Valine({
        el: '#comments',
        appId: '<%= site.customConfig.valineID %>' ,
        appKey: '<%= site.customConfig.valineKey %>',
        pageSize: 30,
        placeholder: '既然来了，那就留个痕迹吧~',
        visitor: <%= site.customConfig.visitors %> // 阅读量统计
    })
</script>
    <% } %>
