<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= siteTitle %></title>
<meta name="description" content="<%- themeConfig.siteDescription %>" />
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico?v=<%= site.utils.now %>">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">

<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdn.staticfile.org/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdn.staticfile.org/aos/2.3.4/aos.js"></script>
<script src="https://cdn.staticfile.org/pace/1.0.2/pace.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/lately.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/functions.js"></script>