<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= siteTitle %></title>
<meta name="description" content="<%- themeConfig.siteDescription %>" />
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">

<script src="<%= themeConfig.domain %>/media/js/jquery.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/masonry.pkgd.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/aos.js"></script>
<script src="<%= themeConfig.domain %>/media/js/pace.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/view-image.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/jquery.magnific-popup.min.js"></script>
<script src="<%= themeConfig.domain %>/media/js/functions.js"></script>